

body {
	background-color: #55acee;
	color: white;
	text-align: center;
	position: relative;
}
h1 {
	padding: 20px;
	margin: 50px 50px;
}
h2, h3 {

}
.trigger {
	border: 1px solid white;
	background-color: transparent;
	color: white;
	padding: 20px;
}
.trigger:hover, a.tweet:hover {
	background-color: white;
	color: #55acee;
}
a.tweet {
	border: 1px solid white;
	padding: 20px;
	width: 100px;
	text-align: center;
	right: 200px;
}
a {
	color: white;
	text-decoration: none;
}
.randomButton {
	margin-top: 50px;
	height: 100px;
}
.randomTwitter {
	height: 50px;
	margin-top: 20px;

}